#transactionForm,
#registerForm,
#loginForm {
  display: none;
}

body {
  color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  display: block;
}

button {
  padding: 2px;
  margin-top: 4px;
}